.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 30px;
  background-image: url('./assets/background.jpg');
  background-size: cover;

  header {
    margin: 30px 0;

    img {
      width: 200px;
    }
  }
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
  font-size: 50px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 100vw;
  margin: auto;
  margin-bottom: 50px;
}

:focus {
  outline: none;
}

.enigma-input {
  border: 0;
  transition: 0.4s;
  text-align: center;
  font-size: 50px;
  width: 100%;
  background-color: transparent;
  color: whitesmoke;
}

@media (max-width: 400px) {
  .enigma-input {
    font-size: 40px;
  }
}
